#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none; /* Prevents default touch actions */
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling of the page */
}